<menu>
    <menuitem label='Cadastros'>
        <icon>fa:file-text-o fa-fw</icon>
        <menu>

            <menuitem label='Contas Bancárias'>
                <icon>fa:credit-card fa-fw</icon>
                <action>ContabancariaFormView</action>
            </menuitem>

            <menuitem label="Outros">
                <icon>fa:ellipsis-h fa-fw</icon>
                <menu>
                    <menuitem label='Bancos'>
                        <icon>fa:bank fa-fw</icon>
                        <action>BancoFormView</action>
                    </menuitem>
                    <menuitem label='Tipo Conta Bancária'>
                        <icon>fa:cc-visa fa-fw</icon>
                        <action>TipoContaBancariaFormView</action>
                    </menuitem>
                    <menuitem label='Tipo Cargo'>
                        <icon>fa:quote-left fa-fw</icon>
                        <action>TipoCargoFormView</action>
                    </menuitem>
                    <menuitem label='Tipo Contato'>
                        <icon>fa:quote-right fa-fw</icon>
                        <action>TipoContatoFormView</action>
                    </menuitem>
                    <menuitem label="Estados (UF)">
                        <icon>fa:flag fa-fw</icon>
                        <action>UFFormView</action>
                    </menuitem>
                    <menuitem label="Cidades">
                        <icon>fa:flag-o fa-fw</icon>
                        <action>CidadeFormView</action>
                    </menuitem>
                    <menuitem label="Tipos Logradouros">
                        <icon>fa:street-view fa-fw</icon>
                        <action>TipoLogradouroFormView</action>
                    </menuitem>
                    <menuitem label="CEP">
                        <icon>fa:outdent fa-fw</icon>
                        <action>CepFormView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Administration'>
        <icon>fa:university fa-fw</icon>
        <menu>
              <menuitem label='Programs'>
                  <icon>fa:file-code-o fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='Groups'>
                  <icon>fa:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='Users'>
                  <icon>fa:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='SQL Panel'>
                  <icon>fa:table fa-fw</icon>
                  <action>SystemSQLPanel</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fa:code fa-fw</icon>
                  <action>SystemPHPInfoView</action>
              </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Logs'>
        <icon>fa:desktop fa-fw</icon>
        <menu>
              <menuitem label='Access Log'>
                  <icon>fa:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='Change Log'>
                  <icon>fa:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='SQL Log'>
                  <icon>fa:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
        </menu>
    </menuitem>


    <menuitem label='Common pages'>
        <menu>
            <menuitem label='Common page 1'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 2'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='Common page 3'>
                <icon></icon>
                <action>CommonPage</action>
            </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <icon>fa:sign-out fa-fw</icon>
        <menu>
              <menuitem label='Perfil'>
                  <icon>fa:user fa-fw</icon>
                  <action>SystemProfileView</action>
              </menuitem>
              
              <menuitem label='Sair'>
                  <action>LoginForm#method=onLogout#static=1</action>
                  <icon>fa:sign-out fa-fw</icon>
              </menuitem>
        </menu>
    </menuitem>
</menu>
